<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restricted Area</title>
    <link rel="stylesheet" href="/styles/login.css">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'> <!-- Inter Font Import From Google API -->
</head>
<body>
    <h1>Restricted Area</h1>
    <p>Welcome, <%= username %>!</p>
    <a href="/logout">Logout</a>
</body>
</html>
