<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/login.css">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'> <!-- Inter Font Import From Google API -->
    <title>Index</title>
</head>
<body>
    <p>Welcome to the Duck Game Index</p>
    <p>If you're not sure what you are doing here, it's probably because you should be on the login page.</p>
    <a href="/login">Login</a>
    <p>This page will be filled with relevant information if I feel it's needed.</p>
</body>
</html>