<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ducks</title>
    <link rel="stylesheet" href="/styles/game.css">
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.160.0/build/three.min.js"></script>
    <script src="./scripts/player.js" defer></script>
    <script type="module" src="./scripts/client.js" defer></script>
    <script type="module" src="./scripts/priorityQueue.js" defer></script>
</head>
<body>
    <div id = "gameDiv">
        <div id="gameWindow"></div>
        <div id="messagesHandler">
            <textarea id="messagesLog" readonly></textarea>
            <div id="messagesSender">
                <input id="userMessage">
                <button id="sendUserMessage">Send</button>
            </div>
        </div>
        <div id="worldDateTimeDiv">
            <p>World Time (Updating Every Miniute): </p>
            <p id="worldDateTime"></p>
        </div>
    </div>
</body>
</html>