<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/styles/login.css">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'> <!-- Inter Font Import From Google API -->
</head>
<body>
    <script src="/scripts/loginResponseHandler.js"></script>

    <div class="container">
        <p id="updateMessage"></p>
        <div class="card">
            <h3>Ducks Login Portal</h3> 
            <form id="form">
                <div class="formInput">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" placeholder="max 12 characters" maxlength="12" required>
                </div>
                <div class="formInput">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="max 12 characters" maxlength="12" required>
                </div>
                <div class="formInput">
                    <label for="shape">Shape</label>
                    <select id="shape" value="cube">
                        <option value="cube">Cube</option>
                        <option value="sphere">Sphere</option>
                        <option value="cone">Cone</option>
                    </select>
                </div>
                <div class="formInput">
                    <label for="color">Colour</label>
                    <input type="color" id="color">
                </div>
                <div class="formButton">
                    <button type="button" id="loginButton">Login</button>
                    <button type="button" id="createAccountButton">Create Account</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
