#gameDiv {
    height: 75vh;
    width: 80vw;
}

#gameWindow {
    height: inherit;
}

#messagesLog {
    width: 80vw;
}

#messagesSender {
    display: flex;
}

#userMessage {
    width: 70vw;
}

#sendUserMessage {
    width: 10vw;
}

